/* Add spacing between all hints and the item name */
itemHints.m-k-item-hints { margin-left: 0.3em; }

itemHints.m-k-item-hints .hint:not(.icon) {
	padding-left: 0.3em;
	padding-right: 0.2em;
}

itemHints.m-k-item-hints .hint:not(.icon) {
	border: 1px dotted gray;
	border-radius: 2px 0px 2px 0px;
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 80%;
}

itemHints.m-k-item-hints .hint {
	color: rgb(26, 25, 24);
	margin: 0;
	/*line-height: unset;*/
	flex: 0 2;
}

/*  Default background is transparent */
itemHints.m-k-item-hints .hint,
itemHints.m-k-item-hints i.icon,
itemHints.m-k-item-hints i.hint.icon
 { background-color: transparent; }

/* Spacing between hints */
itemHints.m-k-item-hints .hint + .hint { margin-left: 2px; }
itemHints.m-k-item-hints .hint:not(.icon) + .hint.icon { margin-left: 4px; }

/* Spacing between icon and text hint */
itemHints.m-k-item-hints .hint.icon + .hint:not(.icon) { margin-left: 2px; }

itemHints.m-k-item-hints .hint.broken:not(.icon) { background-color: rgba(255, 0, 0, 0.1); }
itemHints.m-k-item-hints .hint.broken.icon { color: rgb(180, 21, 21); text-shadow: 0 0 2px white; }

itemHints.m-k-item-hints .hint.masterwork:not(.icon) { background-color: rgba(255, 136, 0, 0.1); }
itemHints.m-k-item-hints .hint.masterwork.icon { color: rgb(253, 182, 100); text-shadow: 0 0 2px black; }

itemHints.m-k-item-hints .hint.unidentified:not(.icon) { background-color: rgba(235, 0, 255, 0.1); }
itemHints.m-k-item-hints .hint.unidentified.icon { color: rgb(148, 17, 180); text-shadow: 0 0 1px white; }

itemHints.m-k-item-hints .hint.aura { background-color: rgba(100, 0, 255, 0.1); }

itemHints.m-k-item-hints .hint.enhancement { background-color: rgba(0, 174, 255, 0.2); }

itemHints.m-k-item-hints .hint.save { background-color: rgba(255, 0, 255, 0.1); }

itemHints.m-k-item-hints .hint.value:not(.icon) { background-color: rgb(234, 201, 163); }
itemHints.m-k-item-hints .hint.value.icon { color: rgb(250, 230, 105); text-shadow: 0 0 3px black; }

itemHints.m-k-item-hints .hint.fcb.hp { background-color: rgba(190,230,180,0.5); }
itemHints.m-k-item-hints .hint.fcb.skill { background-color: rgba(190,210,240,0.5); }
itemHints.m-k-item-hints .hint.fcb.alt { background-color: rgba(230,190,240,0.5); }

itemHints.m-k-item-hints .hint.material { color:rgb(250, 230, 105); text-shadow: 0 0 2px black; }

itemHints.m-k-item-hints .hint.inconsistency { color:rgb(184, 17, 17); text-shadow: 0 0 2px white; }

itemHints.m-k-item-hints .hint.change { background-color: rgba(195, 240, 195, 0.6); }
itemHints.m-k-item-hints .hint.change.penalty { background-color: rgba(220, 90, 100, 0.4); }
itemHints.m-k-item-hints .hint.change.contextual { background-color: rgba(243, 208, 95, 0.4); }
itemHints.m-k-item-hints .hint.change.contextual.mixed { background-color: rgba(226, 136, 230, 0.4); }
itemHints.m-k-item-hints .hint.error { background-color: rgba(230, 150, 150, 0.60); }

itemHints.m-k-item-hints img.hint.aura {
	margin: 0;
	margin-left: 3px;
	background-color: transparent;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

itemHints.m-k-item-hints i.fas.fa-coins.hint { margin-left: 3px; margin-right:2px; }

itemHints.m-k-item-hints i.fas.fa-coins.hint.icon.material { background-color: transparent; }

.item-properties.m-k-item-hints .tag { background-color: rgba(255, 100, 0, 0.2); }

.sheet.item .m-k-item-hints input.m-k-custom-hints {
	background-color:rgba(0, 0, 0, 0.05);
	border: 1px solid #7a7971;
	margin-top: 0.3em;
	margin-bottom: 0.5em;
}

/* Faint */
.item-name .enhancement-1:not(.hint) { text-shadow: 0 2px 3px rgba(50, 120, 220, 0.3); }
/* Moderate */
.item-name .enhancement-2:not(.hint) { text-shadow: 0 2px 5px rgba(50, 70, 200, 0.5); }
/* Strong */
.item-name .enhancement-3:not(.hint) { text-shadow: 0 2px 7px rgba(50, 50, 180, 0.7); }
/* Eliminate aura from the hint boxes */
itemHints.m-k-item-hints .hint { text-shadow: none; }
